.page__content {
    margin: 30px 0 67px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

@media screen and (max-width:768px) {
    .page__content {
        margin: 42px 0 50px;
    }
}